# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*

# Editor/IDE
.vscode/
.idea/

# Dependencies / build
node_modules/
dist/
build/
.gradle/

# Android / Gradle
local.properties
keystore.properties
*.jks
*.keystore
*/build/
captures/
.externalNativeBuild/
.cxx/
*.aab

# Python
__pycache__/
*.pyc
.venv/
venv/

# Coverage
coverage/
